@import "../../scss/web_base";

.raffleRevealWrapper {
  width: 100%;
  margin: 0 !important;
  .ticketRevealSectionAreaWrapper {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-right: 3rem !important;
  }
}