$white: #FFFFFF;
$black: #000000;
$grey: #808080;
$red: #FF0000;
$theme-primary: #550DED;
$font-family: 'Lato';

$header-bottom-border: #D6DEE3;
$header-menu-inactive-text: #2D2D2D;

$footer-background-color: #2C0346;

$ticket-list-header-border: #E9E9E9;